<mat-sidenav-container>
  <mat-sidenav #sidenav role="navigation">
    <mat-nav-list>
      <a mat-list-item routerLink="/login">
        <mat-icon></mat-icon>
      </a>
      <a mat-list-item routerLink="/register" (click)="sidenav.close()"
        >Register</a
      >
      <a mat-list-item routerLink="/login" (click)="sidenav.close()">Login</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <app-header></app-header>
    <main>
      <router-outlet></router-outlet>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>
